:root {
  // COLORS
  --color-black: #333;
  --color-accent-black: #353431;
  --color-light-grey: #f2f2ee;
  --color-alert-red: #ff4b4b;
  --color-alert-green: #A1C181;
  --color-white: #fff;

  // FONT SIZES
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size: 16px;
  --font-size-md: 14px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;

  // SPACING
  --spacing-xl: 24px;
  --spacing-lg: 20px;
  --spacing: 16px;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;

  // MISC
  --sidebar-width: 180px;
  --header-height: 50px;
  --form-width: 320px;
}
