.LayoutContainer {
  display: grid;
  grid-template-areas:
    'head head'
    'sidebar main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
  position: relative;
}

.Header {
  grid-area: head;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 10;
  background-color: var(--color-white);
}

.Sidebar {
  grid-area: sidebar;
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - var(--header-height));
  background-color: var(--color-white);
  // display: flex;
  // flex-direction: column;
  // padding: 12px;
  // gap: 12px;

  .Link {
    font-size: 16px;
  }
  .Active {

  }
  .NavLink {
    font-size: 16px;
    color: var(--color-black);
  }
  a[data-active="true"]{
    background-color: var(--color-light-grey);
    font-weight: bold;
  }
}

.Main {
  grid-area: main;
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  right: 0;
  width: calc(100% - var(--sidebar-width));
  min-height: calc(100% - var(--header-height));
  background-color: var(--color-light-grey);
  padding: var(--spacing-xl);
}


.LayoutContainerNoSidebar {
  display: grid;
  grid-template-areas:
    'head'
    'main';
  grid-template-columns:  1fr;
  grid-template-rows: auto 1fr;
  height: calc(100vh - var(--header-height));
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
  position: relative;

  .Main {
    width: 100vw;
    height: 100%;
    grid-area: main;
    position: unset;
  }
}
